::-webkit-scrollbar {
  width: 8px;
  background: white;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background: white;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse1";
}

@font-face {
  font-family: 'carefree';
  src: url(/fonts/carefree.ttf?f3db7a9cf88f94961dd173624793c336) format("truetype");
  font-weight: normal;
}

body h1,
h2,
h3,
h4,
h5 {
  color: #505050;
}

.carefree-font {
  font-family: "carefree";
  font-size: 40px;
  line-height: 30px;
}

#title {
  font-size: 55px;
  line-height: 110px;
  color: #505050;
  font-weight: bold;
  margin-top: -3px;
}

#desc {
  font-size: 23px;
  margin-top: 18px;
}

#index_content h5 {
  color: #505050;
}

.error_control {
  color: #ff3737;
  font-size: 12px;
}

.items {
  margin: 7px;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 4px;
}

.items:hover {
  cursor: pointer;
  background: #fa6e6e;
  color: white;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid pink;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 15px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

