::-webkit-scrollbar {
  width: 8px;
  background: white;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background: white;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse1";
}

@font-face {
  font-family: 'carefree';
  src: url(/fonts/carefree.ttf?f3db7a9cf88f94961dd173624793c336) format("truetype");
  font-weight: normal;
}

body h1,
h2,
h3,
h4,
h5 {
  color: #505050;
}

.carefree-font {
  font-family: "carefree";
  font-size: 40px;
  line-height: 30px;
}

#title {
  font-size: 55px;
  line-height: 110px;
  color: #505050;
  font-weight: bold;
  margin-top: -3px;
}

#desc {
  font-size: 23px;
  margin-top: 18px;
}

#index_content h5 {
  color: #505050;
}

.error_control {
  color: #ff3737;
  font-size: 12px;
}

.items {
  margin: 5px;
  width: 170px;
}

.items:hover {
  cursor: default;
  text-decoration: underline;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid blue;
  border-right: 7px solid green;
  border-bottom: 7px solid red;
  border-left: 7px solid pink;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

